<h1>Write</h1>

<form class="entryform">

<input type="text" value="" placeholder="Title" class="form-control">
<input type="text" value="" placeholder="Write your story" class="form-control">

</form>