<% if user_signed_in? %>
  <div id="search-box">
    <div id="search-popular"></div>
    <div id="search-bar">
      <%= form_tag "#", method:"get" do %>
        <div>
          <%= text_field_tag :search, params[:search], class:"form-control search-box", id:"search-query", placeholder: "Search...", type:"text"%>
          <%= hidden_field_tag :search_value, id: "searchedValue" %>
        </div>
      <% end %>
    </div>
    <div id="search-total"></div>

  </div>

  <div id="search-result">
  </div>

  <div id="search-trend">
  </div>


<% else %>
<p> You must be signed in to view stories </p>
<% end %>

<script>

$(document).ready(function() {

  var get_search = function(q) {
    $.get('http://localhost:54321/api/search?q='+q, function(data, status) {
      console.log(data);

      $('#search-result').empty();
      $('#search-trend').empty();
      $('#search-total').empty();

      $('#search-total').append('<br>Found <strong>' + data.total + '</strong> stories');

      $('#search-result').append('<div id="exp-story-container">');
      data.hits.forEach(function(d) {
        $('#exp-story-container').append(story(d));
      });
      $('#search-result').append('</div>');

    });
  }

  var story = function(d) {
    var title = d._source.title || '';
    var content = d._source.content || '';
    var story_id = d._source.id || '';
    var votes = d._source.votes || '0';
    var comments = d._source.comments || '0';

    var story = '<div class="story"><h3>' + title + '</h3><p>';
    if(content.length > 250) {
      story += content.substring(0, 250) + '... <a class="read-more" href="/stories/' + story_id + '">Read more</a></p><a class="read-more" href="/stories/' + story_id + '">Add Comment</a>';
    } else {
      story += content + '</p><a class="read-more" href="/stories/' + story_id + '">Add Comment</a>';
    }
    // The votes and comments
    story += '<div><i class="fa fa-heart"></i> ' + votes +  ' <i class="fa fa-comments"></i> ' + comments + '</div>'

    story += '</div>';

    return story;
  }

  var get_trend = function() {
    // Get trend information ?
    $.get('http://localhost:54321/api/trend', function(data, status) {
      $('#search-trend').append('<div id="exp-story-container">');
      data.hits.forEach(function(d) {
        $('#exp-story-container').append(story(d));
      });
      $('#search-trend').append('</div>');
    });
  }

  //load or run search 
  var q = $('#search-query').val();
  if(q.length > 3) {
    get_search(q);
  } else {
    get_trend();
  }

  var popularTags = [];
  $('#search-popular').empty();
  $.get('http://localhost:54321/api/trend-tags', function(data, status) {
    data.buckets.forEach(function(b) {
      popularTags.push(b.key);
    });

    $('#search-popular').append('<strong>Trending tags: ' + popularTags.join(',&nbsp;') + '</strong>');
  });


  $('#search-query').on('keyup', function() {
    console.log('hello key pressed', $('#search-query').val());

    var q = $('#search-query').val();

    if (q.length < 3) {
      $('#search-result').empty();
      $('#search-total').empty();
      return;
    }

    get_search(q);    
  });


});

</script>
