<div id="searchbox">
  <%= form_tag "#", method:"get" do %>
    <div class= "form-group inner-addon right-addon">
      <%= text_field_tag :search, params[:search], class:"form-control search-box", id:"search-query", placeholder: "Search", type:"text" %>
      <%= hidden_field_tag :search_value, id: "searchedValue" %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <% @stories.each do |story| %>
    <%= render partial: 'layouts/story', locals: {story: story} %>
  <% end %>
<% else %>
<p> You must be signed in to view stories </p>
<% end %>