<div id="searchbox">
  <%= form_tag "#", method:"get" do %>
    <div class= "form-group inner-addon right-addon">
      <%= text_field_tag :search, params[:search], class:"form-control search-box", id:"search-query", placeholder: "Search", type:"text" %>
      <%= hidden_field_tag :search_value, id: "searchedValue" %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>

  <!--
  <% @stories.each do |story| %>
    <%= render partial: 'layouts/story', locals: {story: story} %>
  <% end %>
  -->

  <div id="search-result">
  </div>

<% else %>
<p> You must be signed in to view stories </p>
<% end %>

<script>

$(document).ready(function() {

  $('#search-query').on('keyup', function() {
    console.log('hello key pressed', $('#search-query').val());

    var q = $('#search-query').val();

    if (q.length < 3) {
      $('#search-result').empty();
      return;
    }

    $.get('http://localhost:54321/api/search?q='+q, function(data, status) {
      console.log(data);

      $('#search-result').empty();
      data.forEach(function(d) {
        var title = d._source.title || '';
        var content = d._source.content || '';

        $('#search-result').append('<div class="story"><h2>' + title + '</h2><p>' + content + '</p></div><br><hr>');
      });

    });
  });

});

</script>
