
<form#story-form accept-charset="UTF-8" action="/stories" method="post" data-remote="true">
  <input name="authenticity_token" value="#{form_authenticity_token}" type="hidden">
  <input class="user_id" name="user_id" type="hidden">
  <div id="title">
    <input id="story_title" type="text" placeholder= 'Make this cooler by writing a title' >
  </div>
  <div id="content">
    <textarea id="story_content" class="wysihtml5 story-content" placeholder='Write your stories here' required= true>
    </textarea>
  </div>
  <div id="submit-btn">
    <input class="btn btn-default" type="submit" name="Save">
  </div>
</form> 
<script type="text/javascript">
  // function onChange() { console.log("changeadf"); };
  $(document).ready(function(){
    $('#story_content').wysihtml5({
      events: {
        "newword:composer": function() { 
            console.log('loaded!');
        }
      }
    });
    // var editor = new wysihtml5.Editor("story_content").on("newword:composer", onChange);
    // $('.wysihtml5').contents().find('body').on("keydown",function() {
    //     console.log("Handler for .keypress() called.");
    // });
    // var editor = new wysihtml5.Editor("story_content");
    // editor.on("newword:composer", onChange);
  });
</script>