
<form id="story-form" accept-charset="UTF-8" action="/stories" method="post" data-remote="true">
  <input name="authenticity_token" value="#{form_authenticity_token}" type="hidden">
  <input class="user_id" name="user_id" type="hidden">
  <div id="title">
    <input id="story_title" type="text" name="title" placeholder= 'Make this cooler by writing a title' >
  </div>
  <div>
    <input id="story_private" type="checkbox" name="private">Private Story</input>
  </div>
  <div id="content">
      <textarea id="story_content" class="story-content" name="content" placeholder='Write your stories here' required= true>
      </textarea>
  </div>

  <div id="submit-btn">
      <input class="btn btn-default" type="submit" name="Save">
  </div>
  <input id="story_tags" type="hidden" name="tags"/>

  <!--
  <span id="story_tags_display">
  </span>
  -->

</form> 
<script type="text/javascript">
  var handle;

  $(document).ready(function(){

    $("#story-form").on("ajax:success", function(e, data, status, xhr) {
      window.location.href = ('//localhost:3000/explore');
    }).on("ajax:error", function(e, xhr, status, error) {
      $("#flash").append("<div id='flash_error'>Unable to save story.</div>");
    });

    $('#story_content').wysihtml5({
      'events': {
        "newword:composer": function() {

          var rawText = $('#story_content').val();
          var text = rawText.replace(/(<([^>]+)>)/ig,"").replace(/\&nbsp\;/g, "");

          window.clearTimeout(handle);
          handle = window.setTimeout(function() {
            $.post('http://localhost:54321/api/calais', 'text=' + text, function(data, status) {
              console.log("ajax ", data.join(',') );

              $('#story_tags_display').empty();

              var tags = [];
              tags = tags.concat(data);

              var tokens = text.split(" ");
              console.log('split', tokens);
              tokens.forEach(function(t) {
                if (t.startsWith('#')) {
                  tags.push(t.substr(1));
                }
              });

              // FIXME: lodash or underscore
              var unique = [];
              tags.forEach(function(d) {
                if (unique.indexOf(d) === -1) {
                  unique.push(d);
                }
              });


              $('#story_tags').val(unique.join(', ') ); 
              unique.forEach(function(d) {
                $('#story_tags_display').append('<li>' + d + '</li>');
              });


            });
          }, 1200);
        }
      }
    });
  });

  function getTags(txt) {
  }

</script>

