
<form#story-form accept-charset="UTF-8" action="/stories" method="post" data-remote="true">
  <input name="authenticity_token" value="#{form_authenticity_token}" type="hidden">
  <input class="user_id" name="user_id" type="hidden">
  <div id="title">
    <input id="story_title" type="text" placeholder= 'Make this cooler by writing a title' >
  </div>
  <div id="content">
    <textarea id="story_content" class="wysihtml5 story-content" placeholder='Write your stories here' required= true>
    </textarea>
  </div>
  <div id="submit-btn">
    <input class="btn btn-default" type="submit" name="Save">
  </div>
</form> 
<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>