<div id="left-container">
  <form id="story-form" accept-charset="UTF-8" action="/stories" method="post" data-remote="true">
    <input name="authenticity_token" value="#{form_authenticity_token}" type="hidden">
    <div id="story-title">
      <input id="title" type="text" name="title" placeholder= 'Make this cooler by writing a title' >
    </div>

    <div id="story-content">
        <textarea id="content" class="content" name="content" placeholder='Write your stories here' required= true>
        </textarea>
    </div>
    <div id="submit-btn">
        <input class="btn btn-default" type="submit" name="Save">
    </div>
    <input id="tags" type="hidden"/>

    <span id="story_tags_display">
    </span>

  </form> 
</div>
<div id="right-container"> 
  <h3>Tags</h3>
  <ol id="story_tags_display">
  </ol>
</div>
