<div id="left-container">
  <%= render 'stories/form' %>
</div>
<div id="right-container"> 
  <h3>Tags</h3>
  <ol id="story_tags_display">
  </ol>
  <!--
  <ul id="side-tab">
    <li class="related-tab">
      <a id="related-tab" href="#related" data-toggle="tab"></a>
    </li>
    <li class="comments-tab">
      <a id="comments-tab" onclick="" href="#comments" data-toggle="tab"></a>
    </li>
  </ul>
  -->
</div>
