<div id="top-bar-wrapper">
  <%= render '/layouts/top_nav' %>
</div>
<div id="left-container">
  <%= render '/stories/form' %>
</div>
<div id="right-container">
  <ul id="side-tab">
    <li class="related-tab">
      <a id="related-tab" href="#related" data-toggle="tab"></a>
    </li>
    <li class="comments-tab">
      <a id="comments-tab" onclick="" href="#comments" data-toggle="tab"></a>
    </li>
  </ul>
</div>