// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #BBDEFB;
}
.navbar > .container-fluid .navbar-brand {
  #topbar-logo {
    height: 50px;
  }
  margin-left: -40px;
  margin-top: -10px;
}
p.navbar-text {
  display: block;
  float: left;
  font-size: 15px;
  padding: 9px 0 4px 0;
  margin-left: -10px;
}
#searchbox-bar {
  text-align: center;
  margin-left: 100px;
  display: block; 
  float: left;
}
.share-style {
  font-weight: bold;
  font-size: 17px;
}
.discovery {
  height: 400px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}

#reg-box{
  float:right;
  width: 60%;
  background: white;
  padding: 20px 40px 20px 10px;
  .p-group {
    width: 49%;
    display: inline-block;
  }
  .form-group {
    width: 98.5%;
  }
  .select-group {
    padding: 15px 0;
  }
}
#reg-pic {
  float:left;
  width: 40%;
  img {
    width: 500px;
  }
}
#register {
  width: 100%;
  height: 400px;
  background: white;
}