// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#left-container {
  width: 70%;
  height: 100%;
  padding-left: 2em;
  float: left;
  #title {
    float: left;
    display: block;
    width: 100%;
    text-align: left;
    #story_title {
      width: 60%;
      font-size: 1.2em;
      border-radius: 5px;
      border: 1px solid #BDC3C7;
      padding: 5px 5px 5px 20px;
    }
    padding-bottom: 10px;

  }
  #content {
    padding-top: 10px;
    float: left;
    display: block;
    width: 100%;
    min-height: 400px;
    text-align: left;
    padding-bottom: 20px;
    #story_content {
      width: 90%;
      border-radius: 4px;
      border: none;
      border: 1px solid #BDC3C7;
    }
    .wysihtml5-sandbox {
      min-height: 400px;
    }
  }
  #submit-btn {
    float: left;
    text-align: center;
  }
}
#submit-btn {
  padding: 10px 0;
}
#right-container {
  width: 25%;
  height: 100%;
  overflow-y: auto;
  // background: #abab97;
  min-height: 500px;
  color: #444;
  padding: 10px 10px 30px 10px;
  border: 2px solid white;
  border-radius: 5px;
  h1 {
    text-align: center;
  }
}
#my-story-container {
  padding: 0 100px;
  width: 100%;
  min-height: 600px;
  -webkit-column-count: 3;
  -webkit-column-gap: 4px;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}

#exp-story-container {
  padding: 0 100px;
  width: 100%;
  min-height: 600px;
  -webkit-column-count: 3;
  -webkit-column-gap: 4px;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}

#search-bar {
  margin: 10px 0;
}

#cur-user-info {
  padding: 10px 110px;
}
#story-comments {

  #comment-list {
    float: left;
    display: block;
    width: 995px;
    margin: 10px 0 20px 50px;
    padding-left: 10px;
    background: white;
  }
  #comment-box {
    width: 995px;
    float: left;
    padding: 10px;
    display: block;
    border: 2px solid white;
    border-radius: 2px;
    margin: 10px 0px 20px 50px;
    #comment_content {
      width: 100%;
      border-radius: 4px;
      border: none;
      border: 1px solid #BDC3C7;
    }
    .wysihtml5-sandbox {
      width: 100%;
      min-height: 60px;
    }
  }
}