<div class='story'>
  <h2><%= story.title %></h2>
  <p><%= story.content %></p>
  <div>
    <i class="fa fa-heart"></i> <%= story.votes %>  
    <i class="fa fa-comments"></i> <%= story.comments.count %>
  </div>
</div>